<h1>Add New Material</h1>
<form action="/addMaterial" method="POST">
  <div>
    <label for="materialName">Material</label>
    <input name="materialName" id="materialName" required>
  </div>
  <button type="submit">Create</button>
</form>