<h1>Add New Tool</h1>
<form action="/addTool" method="POST">
  <div>
    <label for="toolName">Tool Name</label>
    <input name ="toolName" id="toolName" required>
  </div>
  <button type="submit">Create</button>
</form>