<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
<div>
<a href="/tools">tools</a>
</div>
<div>
<a href="/materials">materials</a>
</div>
<div>
<a href="/users">users</a>
</div>
<div>
<a href="/viewAdmins">admins</a>
</div>